.not-margin{
    margin: 0px;
    font-weight: normal;
    padding: 10px
  }
  .con-form{
    width: 100%;
  
    .flex{
      display: flex;
      align-items: center;
      justify-content: space-between;
  
        a{
          font-size: .8rem;
          opacity: .7;
  
            &:hover{
              opacity: 1;
            }
        }
    }
  }
  
  .vs-checkbox-label{
    font-size: .8rem;
  }
  .vs-input-content{
      margin: 10px 0px;
      width: calc(100%);
  
      .vs-input{
        width: 100%;
      }
  }
  
  .footer-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100%);
  
    .new{
      margin: 0px;
      margin-top: 20px;
      padding: 0px;
      font-size: .7rem;
  
      a{
        color: getColor('primary') !important;
        margin-left: 6px;
  
            &:hover{
              text-decoration: underline;
            }
      }
    }
  }
  
  .vs-button{
    margin: 0px;
  }

.input-outlined-primary{
  input{
      border: 0.3px solid #195bff;
      // border: 0.3px solid #2fb2a0;
  }
}

.input-outlined-red{
  input{
      border: 0.3px solid #ff4757;
      // border: 0.3px solid #2fb2a0;
  }
}